// mauve
//tint
$mauve: #54428E;
$mauve1: #63549a;
$mauve2: #7266a5;
$mauve3: #8279b1;
$mauve4: #938bbc;
$mauve5: #a49ec8;
$mauve6: #b5b1d3;
$mauve7: #c7c4de;
$mauve8: #dad7e9;
$white-purple: #ecebf4;

//shades

$mauve-dark1: #48387b;
$mauve-dark2: #3c2f68;
$mauve-dark3: #312556;
$mauve-dark4: #261c44;
$mauve-dark5: #1b1434;
$mauve-dark6: #110b24;
$black-mauve: #080515;
$mauve-dark8: #020107;
$mauve-dark9: #000001; 

$yellow: #FEF250;

//blue
//tint
$Blue: #3957BC;
$blue1: #4a69c4;
$blue2: #5c7acc;
$blue3: #6f8ad3;
$blue4: #829bda;
$blue5: #96ace1;
$blue6: #aabce8;
$blue7: #bfcdee;
$blue8: #d4ddf4;
$white-blue: #e9eefa;

//shades

$blue-dark1: #3957bc;
$blue-dark2: #304ba3;
$blue-dark3: #283e8b;
$blue-dark4: #1f3373;
$blue-dark5: #17275d;
$blue-dark6: #101c47;
$blue-mauve: #091232;
$blue-dark8: #04081f;
$blue-dark9: #01030d; 

$red: #BC3939;
$green : #4BA178;